@import '~@angular/material/theming';
@import '../assets/themes/dexter-theme.scss';

.main-container {
     height: 100%;
 }

 .main-sidenav-content {
     align-items: center;
     justify-content: center;
 }

 .main-sidenav {
     padding: 20px;
     min-width: 200px;
 }

 [side-nav-button] {
     margin-bottom: 4px;
 }

 [side-nav-menu] {
     width: 100%;
 }

 [limitsCard] {
     min-width: 300px;
 }

 [titlebar] {
     margin-bottom: 20px;
 }

 [limitsCardHeader] /deep/ {
    padding: 10px;
    margin-bottom: 20px;
    background-color: mat-color($dexter-app-primary);
    color: white;
  }