<div fxFill class="main-container">
  <mat-toolbar titlebar color="primary" fxLayout="row">
    <img fxFlex="nogrow" src="../assets/img/DexterSolutionsLogo_SM.png">
    <h1 fxFlex siteTitle>{{siteTitle}}</h1>
    <app-login fxFlex="nogrow"></app-login>
  </mat-toolbar>

  <mat-sidenav-container fxFlexclass="main-container">
    <mat-sidenav #sidenav mode="side" opened="true">
      <app-dashboard></app-dashboard>
    </mat-sidenav>
    <div contentArea fxFill fxLayout="column" fxLayoutAlign="space-around center">
      <router-outlet></router-outlet>
      <footer copyright fxLayoutAlign="end center">© 2012 - 2016 by Dexter Solutions, Inc. All rights reserved.</footer>
    </div>
  </mat-sidenav-container>
</div>
