@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './dexter-font.scss';

$custom-typography: mat-typography-config($font-family: $dexter-font);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

$dexter-blue: (
    100: #4A7fB1,
    500: #095381,
    900: #002B54,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);

$dexter-gray: (
    100: #777274,
    500: #4B4749,
    900: #232022,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);

$dexter-app-primary: mat-palette($dexter-blue, 500, 100, 900);
$dexter-app-accent:  mat-palette($dexter-gray, 500, 100, 900);
$dexter-app-warn:    mat-palette($mat-red);

$dexter-light-theme: mat-light-theme($dexter-app-primary, $dexter-app-accent, $dexter-app-warn);

@include angular-material-theme($dexter-light-theme);


