@import '~@angular/material/theming';
@import '../../../assets/themes/dexter-theme.scss';

$header-background: mat-color($dexter-app-primary, 900);

[limitsCardHeader] {
  background-color: $header-background;
}

[titleBar] {
  color: map-get($dexter-gray, 100) !important;
  background-color: $header-background;
  margin: 10px 0;
}

[limitsForm] {
  margin-top: 20px !important;
}
