@import '~@angular/material/theming';
@import '../../../assets/themes/dexter-theme.scss';

[limitsCardHeader] /deep/ {
  padding: 10px;
  margin-bottom: 20px;
  background-color: mat-color($dexter-app-primary);
  color: white;
}



[avatar] {
  width: 100%;
  height: 100%;
}
