.main-sidenav-content {
  margin: 1em;
}

.main-sidenav {
  padding: 20px;
  min-width: 200px;
}

[side-nav-button] {
  margin-bottom: 4px !important;
}

[side-nav-menu] {
  width: 100%;
}

[limitsCard] {
  min-width: 300px;
}

[titlebar] {
  margin-bottom: 20px;
}
