@import '~@angular/material/theming';
@import '../../assets/themes/dexter-theme.scss';

[userPanel] {
  height: 45px;
  padding: 2px;
  color: map-get($dexter-gray, 100) !important;
}

[avatar-sm] {
  max-width: 40px;
  max-height: 40px;
  margin: 3px 10px 2px 0 !important;
  border-radius: 50%;
}

[avatar-lg] {
  width: 75px;
  border-radius: 3px;
  margin-right: 5em !important;
  border-radius: 50%;
}
